.mh {
  font-size: xx-large;
  text-align: center;
  color: blue;
}
.bt-blue {
  height: 1.5cm;
  width: 5cm;
  background-color: rgb(103, 103, 235);
  border-radius: 0.3cm;
  color: aliceblue;
}

.cards {
  background-color: #6767eb;
  border-radius: 0.3mm;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  color: aliceblue;
}
